[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
messagebird = "*"
phonenumbers = "*"
drf-spectacular = "*"
python-liquid = "*"
django-better-admin-arrayfield = "*"
onesignal-sdk = "*"
numpy = "*"
uvicorn = "*"
gunicorn = "*"
whitenoise = "*"
brotli = "*"
django-two-factor-auth = {extras = ["phonenumbers"], version = "*"}
django-google-maps = "*"
sentry-sdk = "*"

[dev-packages]
pip-licenses = "*"

[requires]
python_version = "3.10.1"
